/* Lila */
.about-me {
    background-color: #b0c2f2;
    padding: 1.25rem; /* 20px */
    margin: 0.625rem; /* 10px */
    border-radius: 0.5rem; /* 8px */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Rosa suave */
.experience {
    background-color: #f0a6ca;
    padding: 1.25rem; /* 20px */
    margin: 0.625rem; /* 10px */
    color: #555;
    border-radius: 0.5rem; /* 8px */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.experience ul {
    margin-top: 0.625rem; /* 10px */
    padding-left: 1.25rem; /* 20px */
    margin-bottom: 0.625rem; /* 10px */
    color: #555;
}

/* Crema */
.footer {
    background-color: #f7ebd3;
    color: #555;
    padding: 0.625rem; /* 10px */
    text-align: center;
}

/* Lila */
#main-header {
    background-color: #9c89b8;
    color: rgb(223, 186, 186);
    padding: 0.9375rem; /* 15px */
    margin: 3.125rem; /* 50px */
    text-align: center;
    font-weight: bold;
    border-radius: 0.5rem; /* 8px */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main-header h1 {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.625rem; /* 10px */
}

#main-header img {
    width: 5%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.625rem; /* 10px */
}

/* Gris oscuro */
#about-title {
    color: #555;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Crema */
body {
    max-width: 93.75rem; /* 1500px */
    margin: 0 auto;
    padding: 0.625rem; /* 10px */
    line-height: 1.6;
    background-color: #f7ebd3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2 {
    margin: 0;
    padding-bottom: 0.625rem; /* 10px */
    font-weight: bold;
}

p {
    margin: 0.625rem 0; /* 10px */
    color: #555;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Media Queries para responsive */
@media (max-width: 768px) {
    .about-me, .experience, .footer {
        padding: 1rem;
        margin: 0.5rem;
    }

    #main-header {
        margin: 1.5rem;
        padding: 1rem;
    }

    img {
        max-width: 100%;
    }

    body {
        font-size: 0.875rem;
    }
}

/* Flexbox */
.container {
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    flex: 1 1 18.75rem; /* 300px */
    margin: 0.5rem;
}
